<div class="row">
  <div class="col-sm-3">
    <table class="table table-hover table-bordered">
      <tr><th class="text-center">ジャンル検索</th></tr>
      <% Category.active.all.each do |category| %>
        <tr>
          <td><%= category.name %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="col-sm-9">
    <h2 class="items-index-heading">
      商品一覧(全<%= Item.active.all.count %>件)
    </h2>
    <div class="item-lists">
      <% @items.each do |item| %>
        <div class="item-box" style="width: 22%; padding: 10px 3%">
          <%= link_to "IMAGE", item_path(item) %>
          <p>
            <b><%= item.name %></b><br>
            <b><%= item.price %></b>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>